<% content_for :title do %>Zach Green&colon;&colon;Codes<% end %>

	<!-- Begin Site Content -->
<%= render "layouts/header" %>

<!-- Intro -->
	<section id="intro" class="column large-12">
		<div class="">
			<div id="header-image">
				<img src="images/zjg-header-complete.svg" alt="zjg-header-complete">
			</div>
		</div>
	</section>
	<!-- End Intro -->

	<!-- About Me Section -->
	<section id="about" class="column large-12">
		<div class="column large-6 large-centered">

			<div class="column large-6">
				<h2 class="h4">about me</h2>
				<p>
					I am a former US Navy Corpsman addicted to adding new programming languages to my book. I also enjoy brewing and tasting (okay, more on the tasting side of) beer. Other interests include discovering new music, photography, and playing with my dog, Astro.
					I am currently seeking employment as a web developer in the Denver, Colorado area.
				</p>
			</div>

			<div class="column large-6">
				<!-- <img src="http://img.zachgreen.codes/zjg-about.svg" alt="zjg-about" /> -->
				<img src="images/zjg-about.svg" alt="zjg-about">
			</div>

		</div>
	</section>
	<!-- End About Me Section -->

	<!-- Work Section -->
	<section id="work" class="column large-12">
		<div class="column large-6 large-centered text-center">
			<h1>Featured Work</h1>
			<div class="column large-6">
				<p><a href="https://github.com/zachjamesgreen/DDRolodex">Denver Devs Rolodex</a></p>
			</div>
			<div class="column large-6">
				<p><a href="https://github.com/zachjamesgreen/rway">Railway</a></p>
			</div>
		</div>
	</section>
	<!-- End Work Section -->

	<!-- Contact Section -->
		<section id="contact" class="column large-12">
		<div class="column large-6 large-centered text-center menu-centered">
			<h2 class="h4">Contact</h2>
			<p>Thank you for taking the time to hang out at my site. Feel free to contact or connect with me. I look forward to hearing from you!</p>
								<ul class="menu">
					<li><a href="https://github.com/zachjamesgreen"><i class="icon-github-square"></i></a></li>
					<li><a href="https://twitter.com/zachgreencodes"><i class="icon-twitter-square"></i></a></li>
					<li><a href="https://www.linkedin.com/pub/zach-green/32/a67/83a"><i class="icon-linkedin-square"></i></a></li>
					<li><a href="mailto:zach@zachgreen.codes"><i class="icon-mail"></i></a></li>
				</ul>
			</div>
	</section>
	<!-- End Contact Section -->

	<!-- Footer Section -->
	<footer class="column large-12">
		<p>&copy; 2019 Zachary Green | site design by <a href="http://ashleycartercreates.com">Ashley Carter</a></p>
	</footer>
	<!-- End Footer Section -->

	<!-- End Site Content -->
