<% content_for :title do %>Zach Green&colon;&colon;Works<% end %>

<section class="head">
  <div class="column large-10 large-centered">
    <a href="/"><h1>ZachGreen::Works</h1></a>
    <nav>
      <ul class="menu align-right">
        <li><a href="#">Blog</a></li>
        <li><a href="/work">Work</a></li>
      </ul>
    </nav>
  </div>
</section>

<section id="workpage" class="column large-12">
  <div class="column large-10 large-centered text-center">
    <h1>Work</h1>

    <div class="column large-6">
      <h3><a href="https://github.com/zachjamesgreen/DDRolodex">Denver Devs Rolodex</a></h3>
    </div>

    <div class="column large-6">
      <h3><a href="https://github.com/zachjamesgreen/rway">Railway</a></h3>
    </div>

  </div>

</section>
