<header>
  <div class="column large-10 large-centered">
    <a href="/" id="gohome"><h1></h1></a>
    <nav>
      <ul class="menu align-right">
        <!-- <li><a href="#">Blog</a></li> -->
        <li><a href="/work">Work</a></li>
      </ul>
    </nav>
  </div>
</header>
<script type="text/javascript">
  $('header h1').typetype('ZachGreen::Codes', {
      t: 150,
      e: 0,
    });
</script>
