<header>
  <div class="container">
    <a href="#top"><h1 class="h3"></h1></a>
    <nav>
      <ul>
        <li><a class="scroll"  href="#abt">about</a></li>
        <!-- <li><a class="scroll"  href="#work">work</a></li> -->
        <li><%= link_to :work, "work" %></li>
      </ul>
    </nav>
  </div>
</header>
